.buttons {
  display: flex;
  justify-content: space-between;

  :not(:last-child) {
    margin-bottom: 1rem;
  }
}

.refresh {
  align-self: flex-start;
}

.info {
  display: flex;
  flex-direction: column;

  padding: 2.5rem;

  color: var(--color-info-500);

  background-color: var(--color-warning-100);
  border-radius: 0.5rem;
}
